*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 3px 30px;
}
.logo h1 span{
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    color: transparent;
    background-clip: text;
}
.nav-links li{
    display: inline;
    margin-right: 2rem;
}
.nav-links li a{
    text-decoration: none;
    color: #000;
    padding-bottom: 1px;
}
.nav-links a:hover{
    border-bottom: 3px solid rgb(138, 27, 243);
}
nav{
    box-shadow: 5px 5px 5px gainsboro;
}
.menu-icon{
    display: none;
}

/* Home */

.home{
    width: 75%;
    margin: auto;
    text-align: left;
    height: 92vh;
    padding-top: 14rem;
}
.intro{
    margin-bottom: 2.5rem;
}
.intro h1{
    font-size: 3rem;
}
.intro h1 span{
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    color: transparent;
    background-clip: text;
}

.btn a button{
    padding: 7px 25px;
    border: 3px solid rgb(200, 31, 200);
    background-color: #fff;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.btn button:hover{
    background-color: #aa00ff;
    color: #fff;
    border: none;
    outline: none;
}

/* about */

.about{
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    color: transparent;
    padding-bottom: 3rem;
}
.about h2{
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
}
.about p{
    color: #fff;
}
.about-main{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-info{
    width: 60%;
}
.photo img{
    border-radius: 13px;
}
.p1{
    line-height: 1.3rem;
    margin-bottom: 1rem;
}
.about-btn a button{
    margin-top: 1rem;
    padding: 7px 25px;
    border: 3px solid #fff;
    background: transparent;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.about-btn a button:hover{
    background-color: #fff;
    outline: none;
    color: purple;
}

/* skills */

.skills{
    background-color: rgb(238, 236, 236);
    width: 100%;
}
.skills h2{
    text-align: center;
    padding: 3rem 0 2rem;
}
.skills-icons{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding-bottom: 3.4rem;
}
.skill-box{
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 100px;
    margin-bottom: 1rem;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 11px;
}
.skill-box .fa-brands{
    font-size: 30px;
    margin-bottom: 0.3rem;
}
.skill-box p{
    font-size: 14px;
}


/* project */

.project{
    background-color: lightgray;
}
.project h2{
    padding: 3rem 0 2.5rem 0;
    text-align: center;
}
.box{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3rem;
}
.desc-box{
    width: 25%;
}
.desc-box h4{
    margin-bottom: 2rem;
}
.project-link button{
    padding: 7px 25px;
    border: 2px solid #fff;
    background: transparent;
    font-weight: bold;
    border-radius: 3px;
    color: #cd88ef;
}
.project-link button a{
    text-decoration: none;
}
.project-link button:hover{
    background-color: #fff;
}

/* contact */

.contact{
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    color: #fff;
    padding: 3rem 0;
}
.contact h2{
    margin-bottom: 2rem;
    text-align: center;
}
.contact-box{
    width: 70%;
    margin: auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
}
.contact-box p{
    line-height: 1.5rem;
    font-size: 0.8rem;
}
.contact-input-box input{
    width: 100%;
    margin: auto;
    font-size: 10px;
    padding: 8px;
    border-radius: 8px;
    border-color: black;
    margin-bottom: 15px;
}
.contact-input-box{
    padding: 0 5rem;
}

.contact-input-box textarea{
    width: 100%;
    font-size: 10px;
    padding: 8px;
    border-radius: 8px;
    border-color: black;
    margin-bottom: 25px;
}
.contact button{
    padding: 7px 25px;
    border: 3px solid #fff;
    background: transparent;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.contact-input-box input:focus-within{
    outline: none;
    border-color: chartreuse;
    border-width: 3px;
}
.contact-input-box textarea:focus-within{
    outline: none;
    border-color: chartreuse;
    border-width: 3px;
}
.contact button:hover{
    background-color: #fff;
    color: purple;
    outline: none;
}

/* smooth scroll */

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.scroll{
    animation: appear 0.6s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
html{
    scroll-behavior: smooth;
}

/* footer */

footer{
    padding: 2rem 0;
    background-color: #000;
    text-align: center;
    color: white;
}
.arrow{
    margin-bottom: 1.5rem;
}
.fa-solid{
    font-size: 1.5rem;
}
.footer-icons{
    margin-bottom: 1.5rem;
}
.footer-icons a{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #fff;
}
hr{
    width: 30%;
    margin: auto;
    color: #ccc;
}
.desc p{
    margin-top: 1rem;
    color: gainsboro;
    font-size: 11px;
}
.desc p span{
    color: springgreen;
}

/* Responsive */

@media only screen and (max-width: 700px) {
    .nav-links ul{
        position: absolute;
        top: 72px;
        right: 0;
        background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
        color: transparent;
        width: 40%;
        border-radius: 10px;
        height: 200px;
        text-align: right;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .nav-links ul li{
        display: block;
        margin-left: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nav-links ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .home{
        padding-top: 8rem;
    }

    /*  About */

    .about-main{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .photo img{
        width: 180px;
        margin-bottom: 2rem;
    }
    .about-info{
        width: 90%;
        margin: auto;
        text-align: left;
    }
    .about-btn{
        text-align: center;
    }

    /* Skills */
    .skills-icons{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
    .skill-box p{
        font-size: 12px;
    }
    /* .fa-brands{
        font-size: 10px;
        margin-bottom: 0.3rem;
    } */

    /* Projects */

    .img-box img{
        width: 200px;
    }
    .desc-box{
        width: 50%;
    }
    .desc-box h4{
        font-size: 14px;
    }
    .p1{
        font-size: 12px;
    }
    .box{
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    .box button{
        margin-bottom: 2px;
        width: 110px;
    }

    /* contact-box */

    .contact-box{
        display: block;
    }
    .contact-box{
        width: 70%;
        padding: 1rem;
    }
    .contact-box p{
        line-height: 1rem;
        font-size: 10px;
        padding-bottom: 2rem;
        text-align: center;
    }
    .contact-input-box{
        padding: 0 1rem;
    }
    .contact-input-box button{
        margin-left: 35%;
    }
    footer{
        padding: 0.5rem 0;
    }
    
}